<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Angular Pikaday</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="components/pikaday/css/pikaday.css">
  </head>
  <body ng-app="pikaApp">

    <table ng-controller="myCtrl">
      <tr>
        <th>Value</th>
        <td>{{ theValue }}</td>
      </tr>
      <tr>
        <th>Text Input</th>
        <td><input type="text" ng-model="theValue"></td>
      </tr>
      <tr>
        <th>Date Input</th>
        <td><input type="date" ng-model="theValue"></td>
      </tr>
      <tr>
        <th>Pikaday</th>
        <td><pikaday format="{{pikaformat}}" ng-model="theValue"></pikaday></td>
      </tr>
      <tr ng-init="pikaformat = 'D MMM YYYY'">
        <th>Format</th>
        <td><input type="text" ng-model="pikaformat"></td>
      </tr>
      <tr>
        <th>Local</th>
        <td><button ng-click="changeLocal()">Change</button> {{currentLocal}}</td>
      </tr>
      <!--
      <tr>
        <th>pikaconfig</th>
        <td><pre>{{pikaconfig|json}}</pre></td>
      </tr>
      -->
    </table>

    <script src="components/angular/angular.js"></script>
    <script src="components/moment/moment.js"></script>
    <script src="components/moment/locale/es.js"></script>
    <script src="components/moment/locale/en-ca.js"></script>
    <script src="components/pikaday/pikaday.js"></script>
    <script src="root/angular-pikaday.js"></script>
    <script src="scripts.js"></script>

    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
